# sourced at the begining of zshenv
# called in each init scripts

# if you want to append env variables before
# main zprofile script is run, put is in before_zprofile function.

before_zprofile(){
    export CLASSPATH="$CLASSPATH:$PROJECT_LIB_DIR/lib/*"
    export PATH=$HOME/dev/bin/vim/bin:$PATH

    LD_LIBRARY_PATH=/home/dev/lib:$LD_LIBRARY_PATH
    export LD_LIBRARY_PATH

    export PYTHONPATH=/home/dev/lib/python2.7/site-packages
    export SVNPATH=/home/dev/bin/svn
}


