.vim/bundle/vim-peepopen
.vim/netrwhist
.vim/.netrwhist
.emacs.d/spacemacs
.mitmproxy/mitmproxy-ca*
.mitmproxy/mitmproxy-dhparam*
nvim/plugged/*

.emacs.d/.cask
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/transient
.emacs.d/recentf
.emacs.d/ac-comphist.dat

.hammerspoon/stackline

tmux/plugins

# Sensitive files and directories
.webui_secret_key
prompts/
daily.txt
.aider*
nvim/init.vim.bk
