[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-cucumber"]
	path = .vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-colors-molokai"]
	path = .vim/bundle/vim-colors-molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/ZoomWin"]
	path = .vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/twilight256.vim"]
	path = .vim/bundle/twilight256.vim
	url = https://github.com/vim-scripts/twilight256.vim.git
[submodule ".vim/bundle/Railscasts-Theme"]
	path = .vim/bundle/Railscasts-Theme
	url = https://github.com/vim-scripts/Railscasts-Theme-GUIand256color.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "resources/iterm2/iTerm-2-Color-Themes"]
	path = resources/iterm2/iTerm-2-Color-Themes
	url = https://github.com/baskerville/iTerm-2-Color-Themes.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/textile"]
	path = .vim/bundle/textile
	url = https://github.com/timcharper/textile.vim.git
[submodule ".vim/bundle/vim-signature"]
	path = .vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule ".vim/bundle/ctrlp-mark"]
	path = .vim/bundle/ctrlp-mark
	url = https://github.com/mattn/ctrlp-mark.git
[submodule ".vim/bundle/smarty.vim"]
	path = .vim/bundle/smarty.vim
	url = https://github.com/blueyed/smarty.vim.git
[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "resources/Hemisu-Light-iTerm2"]
	path = resources/Hemisu-Light-iTerm2
	url = https://github.com/wozozo/Hemisu-Light-iTerm2.git
[submodule ".vim/bundle/vim-colors-hemisu"]
	path = .vim/bundle/vim-colors-hemisu
	url = https://github.com/noahfrederick/Hemisu.git
[submodule "resources/Hemisu-Termianl-Theme"]
	path = resources/Hemisu-Termianl-Theme
	url = https://github.com/noahfrederick/Hemisu-Terminal-app.git
[submodule ".vim/bundle/vim-colors-github-editor"]
	path = .vim/bundle/vim-colors-github-editor
	url = https://github.com/t4ku/github_editor_theme.git
[submodule ".vim/bundle/vim-HiLinkTrace"]
	path = .vim/bundle/vim-HiLinkTrace
	url = https://github.com/gerw/vim-HiLinkTrace.git
[submodule ".vim/bundle/vim-hex-ghighlight"]
	path = .vim/bundle/vim-hex-ghighlight
	url = https://github.com/yurifury/hexHighlight.git
[submodule ".vim/bundle/vim-railscasts"]
	path = .vim/bundle/vim-railscasts
	url = https://github.com/t4ku/vim-railscasts.git
[submodule ".vim/bundle/vim-togglelist"]
	path = .vim/bundle/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
[submodule ".vim/bundle/jekkybeans"]
	path = .vim/bundle/jekkybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule ".vim/bundle/vim-hybrid"]
	path = .vim/bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule ".vim/bundle/vim-linediff"]
	path = .vim/bundle/vim-linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/vim-sqlutilities"]
	path = .vim/bundle/vim-sqlutilities
	url = https://github.com/vim-scripts/SQLUtilities.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/vim_ios"]
	path = .vim/bundle/vim_ios
	url = https://github.com/eraserhd/vim-ios.git
[submodule ".vim/bundle/vim-cocoa"]
	path = .vim/bundle/vim-cocoa
	url = https://github.com/msanders/cocoa.vim.git
[submodule ".vim/bundle/patchreview-vim"]
	path = .vim/bundle/patchreview-vim
	url = https://github.com/junkblocker/patchreview-vim.git
[submodule ".vim/bundle/vim-over"]
	path = .vim/bundle/vim-over
	url = https://github.com/osyo-manga/vim-over.git
[submodule ".vim/bundle/vim-lucius"]
	path = .vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule ".vim/bundle/gtags.vim"]
	path = .vim/bundle/gtags.vim
	url = https://github.com/vim-scripts/gtags.vim.git
[submodule ".vim/bundle/vim-rubocop"]
	path = .vim/bundle/vim-rubocop
	url = https://github.com/ngmy/vim-rubocop.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/seoul256"]
	path = .vim/bundle/seoul256
	url = https://github.com/junegunn/seoul256.vim.git
[submodule ".vim/bundle/vim-vcscommand"]
	path = .vim/bundle/vim-vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule ".vim/bundle/vdebug"]
	path = .vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "resources/iTerm2-Color-Schemes"]
	path = resources/iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
