[user]
  name  = 'Taku Okawa'
  email = 'taku.okawa@gmail.com'
  
[color]
  ui = auto
[merge]
  tool = vimdiff
[alias]
  s = status
  c = commit
  ca = commit --amend
  p = push
  # lol = log --graph --decorate --pretty="%h%an%ad%s" --abbrev-commit
  lol = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
  # diff
  d  = diff
  dc = diff --cached
  # reset
  rh = reset HEAD
  # list changed files of commits which have certain keywords in commit log
  cf = "!f() { git whatchanged --grep=$1 --oneline --name-only --no-commit-id | sort | uniq ;}; f"
[core]
  precomposeunicode = true
  editor = vim
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
