[user]
  name  = 'Taku Okawa'
  email = 'taku.okawa@gmail.com'
  
[color]
  ui = auto
[merge]
  tool = vimdiff
[alias]
  s = status
  c = commit
  co = checkout
  ca = commit --amend
  p = push
  # lol = log --graph --decorate --pretty="%h%an%ad%s" --abbrev-commit
  lo = log --oneline
  lol = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
  # diff
  d  = diff
  dc = diff --cached
  # reset
  rh = reset HEAD
  # list changed files of commits which have certain keywords in commit log
  lwc = "!f() { git log $* --oneline --name-only --no-commit-id -m | grep -Ev '^[0-9a-z]{7} ' | sort | uniq ;}; f"
  la = "!f() { git config --list | grep alias;}; f"
[core]
  precomposeunicode = true
  editor = vim
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[init]
	templatedir = /Users/okawa/.git-templates
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
