const MITMPROXY = 'PROXY 127.0.0.1:8694';

const MITMTARGETS = [
  'example.com'
];

const viaProxy = host => MITMTARGETS.find(target => target == host)

function FindProxyForURL(url, host) {
  if (viaProxy(host)) {
    return MITMPROXY;
  }

  return 'DIRECT';
}
